.quarto05 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: fadeInBackground 1s ease-in-out;
}

.containerIcon{
  position: absolute;
  background: transparent;
  bottom: 0;
  left: 45%;
}

.homeIcon{
  width: 55%;
}

.tituloLocal{
  position: absolute;
  top: 2%;
  left: 3%;
  transform: rotate(-15deg);
  font-size: x-large;
  font-family: "Honk", system-ui;
}


@keyframes fadeInBackground {
  from { opacity: 0; }
  to { opacity: 1; }
}

