.quarto03 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.caixa{
  position: absolute;
  bottom: 9%;
  left: 6.3%;
  z-index: 1;
  width: 10%;
  height: 17%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition:  0.8s ease-in-out;
}

.caixa:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.8s ease-in-out;}

.gato{
  position: absolute;
  bottom: 14%;
  right: 26.6%;
  z-index: 1;
  width: 5.5%;
  height: 20%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition:  0.8s ease-in-out;
}
.gato:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.8s ease-in-out;
}
.sangue{
  position: absolute;
  bottom: 35.3%;
  right: 22.1%;
  z-index: 1;
  width: 3.4%;
  height: 4%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition:  0.8s ease-in-out;
}

.sangue:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.8s ease-in-out;
}

.containerIcon{
  position: absolute;
  background: transparent;
  bottom: 0;
  left: 45%;
}

.homeIcon{
  width: 55%;
}
