.corredor{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  animation: fadeInBackground 1s ease-in-out;
}

.tituloLocal{
  position: absolute;
  top: 2%;
  left: 3%;
  transform: rotate(-15deg);
  font-size: x-large;
  font-family: "Honk", system-ui;
}

.portaCrime{
  position: absolute;
  top: 34%;
  left: 41%;
  width: 13%;
  height: 46%;
  background: transparent;
  border: none;
  z-index: 2;
  cursor: pointer;
  transition:  0.4s ease-in-out;
}

.portaCrime:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.4s ease-in-out;
}

.portaBonas{
  position: absolute;
  top: 1%;
  left: 13%;
  width: 7%;
  height: 98%;
  background:transparent;
  border: none;
  transition:  0.4s ease-in-out;
  cursor: pointer;
}

.portaBonas:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.4s ease-in-out;
}

.portaAlex{
  position: absolute;
  width: 3%;
  height: 72%;
  background-color:transparent;
  border: none;
  left: 25%;
  top: 19%;
  transition:  0.4s ease-in-out;
  cursor: pointer;
}

.portaAlex:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.4s ease-in-out;
}

.portaYuka{
  position: absolute;
  top: 1%;
  right: 6%;
  width: 10%;
  height: 98%;
  transition:  0.4s ease-in-out;
  background-color:transparent;
  border: none;
  cursor: pointer;
}

.portaYuka:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.4s ease-in-out;
}

.portaMiguelito{
  position: absolute;
  top: 16%;
  right: 22.6%;
  width: 4%;
  height: 77%;
  transition:  0.4s ease-in-out;
  background-color:transparent;
  border: none;
  cursor: pointer;
}

.portaMiguelito:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.4s ease-in-out;
}

.portaLorencini{
  position: absolute;
  top: 27%;
  right: 31%;
  width: 2.5%;
  height: 57%;
  background-color:transparent;
  border: none;
  cursor: pointer;
  transition:  0.4s ease-in-out;
}

.portaLorencini:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.4s ease-in-out;
}

.containerIcon{
  position: absolute;
  background: transparent;
  bottom: 0;
  left: 45%;
}

.homeIcon{
  width: 55%;
}

.containerLupa{
  position: absolute;
  background: transparent;
  bottom: 0;
  left: 50%;
}


.lupaIcon{
  width: 18%;
}



@keyframes fadeInBackground {
  from { opacity: 0; }
  to { opacity: 1; }
}
