.corredor{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.portaCrime{
  position: absolute;
  top: 34%;
  left: 41%;
  width: 177px;
  height: 280px;
  background: transparent;
  border: none;
  z-index: 2;
  cursor: pointer;
  transition:  0.8s ease-in-out;
}

.portaCrime:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.8s ease-in-out;
}

.portaBonas{
  position: absolute;
  top: 1%;
  left: 15%;
  width: 100px;
  height: 590px;
  background-color:transparent;
  border: none;
  transition:  0.8s ease-in-out;
  cursor: pointer;
}

.portaBonas:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.8s ease-in-out;
}

.portaAlex{
  position: absolute;
  width: 55px;
  height: 430px;
  background-color:transparent;
  border: none;
  left: 26%;
  top: 19%;
  transition:  0.8s ease-in-out;
  cursor: pointer;
}

.portaAlex:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.8s ease-in-out;
}

.portaYuka{
  position: absolute;
  top: 1%;
  right: 9%;
  width: 130px;
  height: 590px;
  transition:  0.8s ease-in-out;
  background-color:transparent;
  border: none;
  cursor: pointer;
}

.portaYuka:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.8s ease-in-out;
}

.portaMiguelito{
  position: absolute;
  top: 16%;
  right: 24%;
  width: 70px;
  height: 470px;
  transition:  0.8s ease-in-out;
  background-color:transparent;
  border: none;
  cursor: pointer;
}

.portaMiguelito:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.8s ease-in-out;
}

.portaLorencini{
  position: absolute;
  top: 27%;
  right: 32%;
  width: 36px;
  height: 350px;
  background-color:transparent;
  border: none;
  cursor: pointer;
  transition:  0.8s ease-in-out;
}

.portaLorencini:hover {
  box-shadow: 1px 1px 5px 5px white;
  transition:  0.8s ease-in-out;
}